/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial; background: #40606b;
}

@font-face { font-family: gothamMed; src: url(../fonts/Gotham-Medium.otf); }
@font-face { font-family:gothamBlack; src: url(../fonts/Gotham-Black.otf); }
@font-face { font-family:gothamMedItalic; src: url(../fonts/Gotham-MediumItalic.otf); }
@font-face { font-family:gothamLightItalic; src: url(../fonts/Gotham-LightItalic.otf); }
@font-face { font-family:KozGoPro; src: url(../fonts/KozGoPro-Heavy.otf); }
@font-face { font-family:gothamBookItalic; src: url(../fonts/Gotham-BookItalic.otf); }
@font-face { font-family:bebas; src: url(../fonts/BebasNeue.otf); }
@font-face { font-family:gothamXLight; src: url(../fonts/Gotham-XLight.otf); }
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.toggleClass-whiteBackground { background:#fff; }

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle { position: absolute; right: 40px; top:40px; outline: none; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { height: 5px; width: 35px; background: white; position: absolute; display: block; content: ''; }
#nav-toggle span:before { top: -10px; }
#nav-toggle span:after { bottom: -10px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { transition: all 500ms ease-in-out; }
#nav-toggle.active span { background-color: transparent; }
#nav-toggle.active span:before, #nav-toggle.active span:after { top: 0; }
#nav-toggle.active span:before { transform: rotate(45deg); background:#40606b; }
#nav-toggle.active span:after { transform: rotate(-45deg); background:#40606b; }

#container { width:100%; height:auto; margin:2vh auto 0; }
#container a { outline:none; }
#menu { display:none; }
#menu a { font-family:gothamMed; font-size:1.5em; padding:20px 0; display:block; text-decoration: none; color:#40606b; text-align: center; outline: none; text-transform: uppercase; }
#menu a:first-child { margin-top:15%; }
#menu a:hover { font-weight: bolder;}
#logo { width:100px; height:auto; margin: 30px auto 0; display: block;  }

#container > h1 { text-align: center; font-family: gothamBlack; font-size: 60px; color:#456770; line-height: 50px; text-transform: uppercase; padding:0; margin:20px;}
hr { width:10%; height:8px; background:#456770; border:0; margin: 0 auto;}
#content { text-align: center; margin-top:20px; padding:0 15px; }
#content p { color:white; font-family: KozGoPro; font-size:24px; text-shadow: 3px 0px 0px rgba(0, 0, 0, 1); line-height: 20px; margin-bottom:50px;}
#content hr { width:20%; height:10px; background:#456770; border:0; margin:30px auto 100px; }
#content ul { margin:0 0 20px 0; padding:0; }
#content ul li { font-family:gothamMedItalic; font-size: 24px; color:white; display: inline-block; list-style: none; padding:10px 20px; margin:0; cursor:pointer; }
#content ul li.active { background-image: url(../img/active.png); background-repeat:no-repeat; background-position: center; }
#content #projects { max-width: 1024px; height:auto; margin:0 auto; }
#content #projects div { max-width:33.33%; height:auto; max-height:350px; background:white; float:left; border:solid 1px #40606b; box-sizing:border-box;}
#content #projects div:hover { background:#231f20; transition:0.8s; }
#content #projects div img { width:100%; height:auto; }


#footer { width:100%; height:auto; background: #231f20; text-align: center; padding:30px 15px; box-sizing:border-box; }
#footer h2 { font-family: bebas; text-decoration: underline; color:white; padding-bottom: 10px;}
#social-icons { width:100%; height:auto; padding-bottom: 20px; }
#social-icons a { padding:0 10px; }
#footer h3 { font-family: gothamXLight; color:white; letter-spacing: 5px; font-weight: lighter; margin-bottom:-25px;}
#footer h6 { font-family: gothamMedItalic; color:white; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 768px) {
    #content #projects div { width:50%; }
}

@media only screen and (max-width: 480px) {
    #content #projects div { width:100%; }
    
}

@media only screen and (max-width: 1140px) {
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}